In [21]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json
import os

In [12]:
! pip install kafka-python

Requirement already satisfied: kafka-python in /Users/sarathchandrika/Documents/Data-Engineering/.venv/lib/python3.9/site-packages (2.0.2)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [23]:
work_dir = os.getcwd()

'/Users/sarathchandrika/Documents/kafka-stream'

In [13]:
producer = KafkaProducer(bootstrap_servers=['107.22.71.179:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [24]:
df = pd.read_csv(work_dir + "/" + "indexProcessed.csv")

In [16]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [19]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demotesting2', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [18]:
producer.flush()